@import 'breakpoints';

#contactUsContainer{
    padding: 10rem 5rem;
    padding-left: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    height: 100vh;
    div{
        min-width: 500px;
    }
    h1{
        color: #80FEF7;
        font-size: xxx-large;
        margin-bottom: 1.5rem;
    }
    .secondaryContainer{
        background: #00000055;
        width: 40rem;
        z-index: 2;
        padding: 1rem 2rem;
        border-radius: 1px;
        height: fit-content;
    }

    @include md{
        width: 100%;
        padding: 10rem 1.5rem;
        padding-bottom: 2rem;
        h1{
            font-size: xx-large;
        }
        div{
            min-width: 100px;
        }
    }
}

.imageContainer{
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: top;
    img{
        object-fit: cover;
        vertical-align: top;
        width: 50rem;
        height: 100vh;
    }
    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #031520, #031520ee, #031520cc, #000000aa,#00000088,#00000066,#00000044,#00000022,#00000000);
    }
    @include md{
        height: fit-content;
        img{
            height: 100vh;
        }
        .overlay{
            background: linear-gradient(180deg, #031520, #031520ee, #031520dd, #000000cc,#000000bb,#000000aa,#00000099,#00000088,#00000077);
        }
    }

}

.formContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    row-gap: 1rem;
    margin-top: 3rem;
    input, textarea{
        width: 100%;
        height: 2rem;
        background: #000;
        border: none;
        border-radius: 1px;
        padding-left: 1rem;
        color: #fff;
    }
    textarea{
        height: 10rem;
    }
    .btnContainer{
        width: 100%;
        // text-align: left;
    }
    button{
        padding: 0.5rem 2rem;
        font-size: large;
        font-weight: 400;
        background: none;
        border: 1px solid #fff;
        color: #fff;
        margin: 1rem 0;
        transition: 100ms all ease-in-out;
    }
    button:hover{
        cursor: pointer;
        background: #ffffff;
        color: #000;
    }

    @include md{
        input{
            font-size: 1rem;
            height: 3rem;
        }
        textarea{
            font-size: 1rem;
            padding-top: 1rem;
        }
    }
}

