#footer{
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #eee;
    text-align: center;
    color: #999;
    h2{
        font-weight: 500;
        padding: 1rem;
    }
    
    div{
        padding: 1rem;
        .link{
            display: inline-block;
            text-decoration: dashed;
            cursor: pointer;
            padding: 0;
        }
    }
}