#footer{
    position: relative;
    width: 100%;
    bottom: 0;
    background: #eee;
    text-align: center;
    color: #999;
    h2{
        font-weight: 500;
        padding: 1rem;
    }
    p{
        padding: 1rem;
    }
}