.navColored{
  background-color: #000000cc;
}

.navContainer{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 1.75rem 0;
    z-index: 10;
    transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .navLogoContainer{
    // width: 10rem;
    padding-left: 5rem;
  }
  
  .navLinksContainer{
    width: 30rem; 
    padding-left: 1rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    
  }

